<!DOCTYPE html>
<html style="height: 100%">
<head>
    <title>WB6NDJ Repeater Environment</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/date-fns/1.30.1/date_fns.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation/dist/chartjs-plugin-annotation.min.js"></script>
</head>
<body style="height: 100%">
<div style="margin: auto; width: 75%">
    <label style="font-family:'Montserrat', sans-serif;font-size: 4rem;">WB6NDJ Repeater Environment</label>
</div>
<div style="margin: auto; width: 75%">
    <label style="font-family:'Montserrat', sans-serif;font-size: 2rem;">Fan state: </label>
    <label style="font-family:'Montserrat', sans-serif;font-size: 2rem;" id="fanState">Off</label>
</div>
<div style="margin: auto; width: 75%; height: 100%">
    <div style="width: 90%; float: left; height: 80%">
        <canvas id="chart"></canvas>
        <canvas id="chart2"></canvas>
    </div>
</div>

    <script>
        function newChart(ctx, names, bg, bc) {
            return new Chart(ctx, {
            type: 'line',
            data: {
                labels: [],
                datasets: [{
                    label: names[0],
                    data: [],
                    backgroundColor: bg[0],
                    borderColor: bc[0],
                    borderWidth: 1,
                    pointRadius: 1,
                },{
                    label: names[1],
                    data: [],
                    backgroundColor: bg[1],
                    borderColor: bc[1],
                    borderWidth: 1,
                    pointRadius: 1,
                },{
                    label: names[2],
                    data: [],
                    backgroundColor: bg[2],
                    borderColor: bc[2],
                    borderWidth: 1,
                    pointRadius: 1,
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    x: {
                        type: 'time',
                    },
                    y: {
                        suggestedMin: 30
                    }
                },
                //plugins: {
                //    annotation: {
                //        annotations: {
                //            box1: {
                //                type: 'box',
                //                yMin: 50,
                //                yMax: 70,
                //                backgroundColor: 'rgba(255, 99, 132, 0.25)'
                //            }
                //        }
                //    }
                //}
            }
        })};
        var ctx = document.getElementById('chart').getContext('2d');
        var temperature_chart = newChart(ctx, ["INSIDE", "REPEATER", "OUTSIDE"], ['rgba(89, 192,75,0.68)','rgba(75,89,192,0.68)','rgba(192,89,75,0.68)'], ['rgb(89, 192,75)','rgb(75,89,192)','rgb(192,89,75)']);
        var ctx = document.getElementById('chart2').getContext('2d');
        var humidity_chart = newChart(ctx, ["INSIDE", "REPEATER", "OUTSIDE"],  ['rgba(89, 192,75,0.68)','rgba(75,89,192,0.68)','rgba(192,89,75,0.68)'], ['rgb(89, 192,75)','rgb(75,89,192)','rgb(192,89,75)']);

        function processNewData(endpoint, chart) {
            fetch(endpoint)
                .then(response => response.json())
                .then(data => {
                    var dates = data.data[0].map(function(e) {
                        return new Date(e);
                    });
                    chart.data.labels = Array.from(dates);
                    chart.data.datasets[0].data = Array.from(data.data[1]);
                    chart.data.datasets[1].data = Array.from(data.data[2]);
                    chart.data.datasets[2].data = Array.from(data.data[3]);
                });
        };

        function processFanState() {
            fetch('/data/fan_state')
                .then(response => response.json())
                .then(data => {
                    if (data == 1) {
                        document.getElementById('fanState').textContent = "On";
                    } else {
                        document.getElementById('fanState').textContent = "Off";
                    }
                });
        };

        function fetchData() {
            processNewData('/data/temperature', temperature_chart);
            processNewData('/data/humidity', humidity_chart);
            processFanState();
            temperature_chart.update();
            humidity_chart.update();
        };

        fetchData();
        setInterval(fetchData, 10000);
    </script>
</body>
</html>
